.dashbord{
    height: 100vh;
    margin-left: 70px;
    padding: 20px;
}

.dashbord-section{
    overflow: auto;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
}

.dashbord-section::-webkit-scrollbar{
    width: 0;
}

.dashbord-section h1{
    padding: 20px 0 0 30px;
    font-size: 2rem;
}

.dashbord-grid{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.fast-product{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    grid-column: 1/3;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.review-the-wallet{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    grid-column: 1/3;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.new-users-joined{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    grid-column: 3/4;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

.most-view-product{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
    grid-column: 3/4;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}

@media (max-width: 1000px) {
    .fast-product{
        grid-column: 1/4;
    }

    .review-the-wallet{
        grid-column: 1/4;
    }

    .new-users-joined{
        grid-column: 1/4;
    }

    .most-view-product{
        grid-column: 1/4;
    }
}